In [1]:
print("hello")

hello

In [5]:

import pandas as pd
print('import')

import

In [8]:
amazon_india_full = pd.read_csv("amazon_india_complete_2015_2025.csv")
print('Open')

Open

In [9]:
amazon_india_full.shape

(1127609, 34)

In [12]:
amazon_india_full.columns

Index(['transaction_id', 'order_date', 'customer_id', 'product_id',
       'product_name', 'category', 'subcategory', 'brand',
       'original_price_inr', 'discount_percent', 'discounted_price_inr',
       'quantity', 'subtotal_inr', 'delivery_charges', 'final_amount_inr',
       'customer_city', 'customer_state', 'customer_tier',
       'customer_spending_tier', 'customer_age_group', 'payment_method',
       'delivery_days', 'delivery_type', 'is_prime_member', 'is_festival_sale',
       'festival_name', 'customer_rating', 'return_status', 'order_month',
       'order_year', 'order_quarter', 'product_weight_kg', 'is_prime_eligible',
       'product_rating'],
      dtype='object')

In [13]:
if amazon_india_full.isnull().values.any():
    print(amazon_india_full.isnull().sum() [amazon_india_full.isnull().sum() > 0])
else:
    print('No Null Values')

delivery_charges       90201
customer_age_group    135315
festival_name         777736
customer_rating       341696
dtype: int64

In [14]:
amazon_india_full.columns = ['transaction_id', 'order_date', 'customer_id', 'product_id',
       'product_name', 'category', 'subcategory', 'brand',
       'original_price_inr', 'discount_percent', 'discounted_price_inr',
       'quantity', 'subtotal_inr', 'delivery_charges', 'final_amount_inr',
       'customer_city', 'customer_state', 'customer_tier',
       'customer_spending_tier', 'customer_age_group', 'payment_method',
       'delivery_days', 'delivery_type', 'is_prime_member', 'is_festival_sale',
       'festival_name', 'customer_rating', 'return_status', 'order_month',
       'order_year', 'order_quarter', 'product_weight_kg', 'is_prime_eligible',
       'product_rating']

amazon_india_full.columns = amazon_india_full.columns.str.replace("_", " ").str.title()
amazon_india_full.columns

Index(['Transaction Id', 'Order Date', 'Customer Id', 'Product Id',
       'Product Name', 'Category', 'Subcategory', 'Brand',
       'Original Price Inr', 'Discount Percent', 'Discounted Price Inr',
       'Quantity', 'Subtotal Inr', 'Delivery Charges', 'Final Amount Inr',
       'Customer City', 'Customer State', 'Customer Tier',
       'Customer Spending Tier', 'Customer Age Group', 'Payment Method',
       'Delivery Days', 'Delivery Type', 'Is Prime Member', 'Is Festival Sale',
       'Festival Name', 'Customer Rating', 'Return Status', 'Order Month',
       'Order Year', 'Order Quarter', 'Product Weight Kg', 'Is Prime Eligible',
       'Product Rating'],
      dtype='object')

In [15]:
for columns in amazon_india_full.select_dtypes(include='object').columns:
    print(f"-- {columns} --")
    print(amazon_india_full[columns].value_counts())

-- Transaction Id --
Transaction Id
TXN_2023_00063013    1
TXN_2021_00064486    1
TXN_2017_00065617    1
TXN_2020_00054393    1
TXN_2018_00071646    1
                    ..
TXN_2018_00047331    1
TXN_2022_00065321    1
TXN_2023_00057908    1
TXN_2020_00035169    1
TXN_2022_00124835    1
Name: count, Length: 1127609, dtype: int64
-- Order Date --
Order Date
2020-12-02    543
2020-12-05    528
2020-12-26    525
2020-12-14    519
2020-12-18    518
             ...
02/18/2016      1
09/24/2015      1
23-07-2015      1
15-03-2015      1
17/05/2015      1
Name: count, Length: 14414, dtype: int64
-- Customer Id --
Customer Id
CUST_2015_00003928    27
CUST_2015_00004053    24
CUST_2015_00001860    23
CUST_2017_00014541    23
CUST_2015_00004247    22
                      ..
CUST_2020_00042916     1
CUST_2025_00012923     1
CUST_2024_00043345     1
CUST_2019_00039497     1
CUST_2023_00010295     1
Name: count, Length: 354969, dtype: int64
-- Product Id --
Product Id
PROD_001935    2916
PROD_000055    2509
PROD_001949    2488
PROD_001943    2475
PROD_001899    2466
               ...
PROD_001486       9
PROD_001543       8
PROD_001386       7
PROD_001390       7
PROD_001418       5
Name: count, Length: 2004, dtype: int64
-- Product Name --
Product Name
Garmin Watch Deluxe                    2916
OnePlus OnePlus 2 16GB White           2509
Noise Watch Premium                    2488
Garmin Sports Watch Premium            2475
Xiaomi Watch Premium                   2466
                                       ...
Apple iPhone 16 Pro Max 64GB Black        9
Dell VivoBook 4GB RAM Silver              8
Apple iPhone 16 Pro Max 128GB Black       7
Apple iPhone 16 Pro Max 64GB Blue         7
Samsung Galaxy A56 128GB Black            5
Name: count, Length: 1974, dtype: int64
-- Category --
Category
Electronics                  1126726
Electronic                       229
ELECTRONICS                      225
Electronics & Accessories        218
Electronicss                     211
Name: count, dtype: int64
-- Subcategory --
Subcategory
Smartphones           827177
Laptops                88370
Smart Watch            74708
Tablets                70254
Audio                  50623
TV & Entertainment     16477
Name: count, dtype: int64
-- Brand --
Brand
Samsung           222664
OnePlus           174329
Xiaomi            156154
Apple             111827
Realme             84696
Oppo               71205
Vivo               71176
Motorola           34535
Lenovo             22733
Alienware          14683
Acer               13961
ASUS               13062
Nothing            11535
Garmin             10938
Fitbit             10563
Noise              10371
MSI                10122
Dell                9389
HP                  9113
Audio-Technica      8689
Amazfit             8598
Fire-Boltt          8002
JBL                 7688
LG                  6410
Sennheiser          6338
Sony                5989
Boat                4818
Skullcandy          4468
iQOO                3553
Name: count, dtype: int64
-- Original Price Inr --
Original Price Inr
45363.47     409
52280.35     386
54731.86     381
46234.09     370
46458.94     358
            ...
2245508.0      1
11,614.74      1
22,484.71      1
3635028.0      1
305,463.3      1
Name: count, Length: 46185, dtype: int64
-- Customer City --
Customer City
Mumbai           140536
Delhi            122365
Bangalore        101416
Chennai           83646
Pune              67703
Kolkata           65767
Ahmedabad         50861
Hyderabad         44573
Jaipur            40453
Surat             40400
Nagpur            37211
Kanpur            34334
Lucknow           34077
Indore            33592
Coimbatore        26695
Kochi             24940
Visakhapatnam     22167
Patna             21339
Vadodara          21078
Bhubaneswar       20472
Chandigarh        19575
Ludhiana          18891
Saharanpur         6705
Meerut             6641
Bareilly           6590
Aligarh            6407
Allahabad          6030
Varanasi           5897
Gorakhpur          5867
Moradabad          5855
New Delhi           304
Mumbai              304
Kolkata             294
Bombay              289
Banglore            287
KOLKATA             285
CHENNAI             285
delhi               283
Delhi NCR           282
chenai              280
mumba               279
Bengalore           277
BANGALORE           277
Chennai             276
Madras              266
Bengaluru           266
Calcutta            264
kolkata             257
MUMBAI              236
DELHI               235
Name: count, dtype: int64
-- Customer State --
Customer State
Maharashtra       246558
Delhi             123469
Uttar Pradesh     118403
Gujarat           112339
Tamil Nadu        111448
Karnataka         102523
West Bengal        66867
Telangana          44573
Rajasthan          40453
Punjab             38466
Madhya Pradesh     33592
Kerala             24940
Andhra Pradesh     22167
Bihar              21339
Odisha             20472
Name: count, dtype: int64
-- Customer Tier --
Customer Tier
Metro    563829
Tier1    338631
Tier2    175157
Rural     49992
Name: count, dtype: int64
-- Customer Spending Tier --
Customer Spending Tier
Standard    688120
Budget      232696
Premium     206793
Name: count, dtype: int64
-- Customer Age Group --
Customer Age Group
26-35    347899
18-25    316424
36-45    199100
46-55     99012
55+       29859
Name: count, dtype: int64
-- Payment Method --
Payment Method
UPI            384228
COD            322831
Credit Card    172261
Debit Card     140202
Net Banking     64971
Wallet          22821
BNPL            20295
Name: count, dtype: int64
-- Delivery Days --
Delivery Days
3           288488
1           210462
4           206438
5           136608
2           126280
6           102668
7            34116
-1            6836
1-2 days      4534
Same Day      4469
Express       2317
0             2218
15            2175
Name: count, dtype: int64
-- Delivery Type --
Delivery Type
Standard    784003
Same Day    214766
Express     128840
Name: count, dtype: int64
-- Is Prime Member --
Is Prime Member
False    635593
True     390675
FALSE     21086
0         21078
No        20728
Yes       12894
1         12871
TRUE      12684
Name: count, dtype: int64
-- Is Festival Sale --
Is Festival Sale
False    707951
True     318446
0         23568
FALSE     23150
No        23067
Yes       10518
TRUE      10488
1         10421
Name: count, dtype: int64
-- Festival Name --
Festival Name
Back to School                  85396
Diwali Sale                     83611
Amazon Great Indian Festival    53062
Summer Sale                     44931
Holi Festival                   39608
Republic Day Sale               20183
Valentine Sale                  14106
Prime Day                        8976
Name: count, dtype: int64
-- Customer Rating --
Customer Rating
4.5          245857
5.0          185749
4.0          174681
3.5           76153
3.0           40617
4/5           10914
4.5 stars      8618
5.0 stars      6368
4.0 stars      6069
5/5            4787
4.5/5.0        4230
4              3677
5.0/5.0        3361
3/5            3079
4.0/5.0        2955
3.5 stars      2695
5              1587
3.0 stars      1431
3.5/5.0        1309
3              1048
3.0/5.0         728
Name: count, dtype: int64
-- Return Status --
Return Status
Delivered    1022431
Returned       79125
Cancelled      26053
Name: count, dtype: int64
-- Is Prime Eligible --
Is Prime Eligible
True     840778
False    185642
1         27650
Yes       27631
TRUE      27607
FALSE      6183
No         6079
0          6039
Name: count, dtype: int64

In [16]:
amazon_india_full['Order Date'] = pd.to_datetime(amazon_india_full['Order Date'], format='mixed')
amazon_india_full['Original Price Inr'] = pd.to_numeric(amazon_india_full['Original Price Inr'], errors='coerce')
amazon_india_full['Delivery Days'] = pd.to_numeric(amazon_india_full['Delivery Days'], errors='coerce')
amazon_india_full['Customer Rating'] = pd.to_numeric(amazon_india_full['Customer Rating'], errors='coerce')
amazon_india_full['Is Festival Sale'] = pd.to_numeric(amazon_india_full['Is Festival Sale'], errors='coerce').astype(bool)
amazon_india_full['Is Prime Member'] = pd.to_numeric(amazon_india_full['Is Prime Member'], errors='coerce').astype(bool)
amazon_india_full['Is Prime Eligible'] = pd.to_numeric(amazon_india_full['Is Prime Eligible'], errors='coerce').astype(bool)
print('changed')

changed

In [17]:
amazon_india_full[['Delivery Charges', 'Customer Rating']] = amazon_india_full[['Delivery Charges', 'Customer Rating']].fillna(method='bfill')

C:\Users\Digital Suppliers\AppData\Local\Temp\ipykernel_3912\2043398642.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  amazon_india_full[['Delivery Charges', 'Customer Rating']] = amazon_india_full[['Delivery Charges', 'Customer Rating']].fillna(method='bfill')

In [18]:
amazon_india_full[['Original Price Inr', 'Delivery Days', 'Customer Rating']] = amazon_india_full[['Original Price Inr', 'Delivery Days', 'Customer Rating']] .fillna(method='bfill')

C:\Users\Digital Suppliers\AppData\Local\Temp\ipykernel_3912\495590491.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  amazon_india_full[['Original Price Inr', 'Delivery Days', 'Customer Rating']] = amazon_india_full[['Original Price Inr', 'Delivery Days', 'Customer Rating']] .fillna(method='bfill')

In [20]:
amazon_india_full[['Festival Name', 'Customer Age Group', 'Customer Rating']] = amazon_india_full[['Festival Name', 'Customer Age Group', 'Customer Rating']].fillna(method='ffill')

C:\Users\Digital Suppliers\AppData\Local\Temp\ipykernel_3912\4116468957.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  amazon_india_full[['Festival Name', 'Customer Age Group', 'Customer Rating']] = amazon_india_full[['Festival Name', 'Customer Age Group', 'Customer Rating']].fillna(method='ffill')

In [21]:
amazon_india_full['Festival Name'] = amazon_india_full['Festival Name'].fillna(method='bfill')

C:\Users\Digital Suppliers\AppData\Local\Temp\ipykernel_3912\3967878318.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  amazon_india_full['Festival Name'] = amazon_india_full['Festival Name'].fillna(method='bfill')

In [22]:
amazon_india_full['Customer Age Group'] = amazon_india_full['Customer Age Group'].fillna(method='bfill')

C:\Users\Digital Suppliers\AppData\Local\Temp\ipykernel_3912\2702513503.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  amazon_india_full['Customer Age Group'] = amazon_india_full['Customer Age Group'].fillna(method='bfill')

In [23]:
amazon_india_full['Original Price Inr'] = amazon_india_full['Original Price Inr'].fillna(method='ffill')

C:\Users\Digital Suppliers\AppData\Local\Temp\ipykernel_3912\224233831.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  amazon_india_full['Original Price Inr'] = amazon_india_full['Original Price Inr'].fillna(method='ffill')

In [24]:
if amazon_india_full.isnull().values.any():
    print(amazon_india_full.isnull().sum() [amazon_india_full.isnull().sum() > 0])
else:
    print('No Null Values')

No Null Values

In [25]:
amazon_india_full['Order Date'].iloc[1000:20000]

1000    2023-04-17
1001    2017-02-22
1002    2020-07-11
1003    2024-05-11
1004    2017-09-13
           ...
19995   2020-08-10
19996   2023-07-11
19997   2016-10-18
19998   2021-01-18
19999   2021-07-05
Name: Order Date, Length: 19000, dtype: datetime64[ns]

In [26]:
amazon_india_full.dtypes

Transaction Id                    object
Order Date                datetime64[ns]
Customer Id                       object
Product Id                        object
Product Name                      object
Category                          object
Subcategory                       object
Brand                             object
Original Price Inr               float64
Discount Percent                 float64
Discounted Price Inr             float64
Quantity                           int64
Subtotal Inr                     float64
Delivery Charges                 float64
Final Amount Inr                 float64
Customer City                     object
Customer State                    object
Customer Tier                     object
Customer Spending Tier            object
Customer Age Group                object
Payment Method                    object
Delivery Days                    float64
Delivery Type                     object
Is Prime Member                     bool
Is Festival Sale                    bool
Festival Name                     object
Customer Rating                  float64
Return Status                     object
Order Month                        int64
Order Year                         int64
Order Quarter                      int64
Product Weight Kg                float64
Is Prime Eligible                   bool
Product Rating                   float64
dtype: object

In [28]:
city_map = {
    "Mumbai": "Mumbai",
    "mumba": "Mumbai",
    "MUMBAI": "Mumbai",
    "Bombay": "Mumbai",

    "Delhi": "Delhi",
    "delhi": "Delhi",
    "DELHI": "Delhi",
    "New Delhi": "Delhi",
    "Delhi NCR": "Delhi",

    "Bangalore": "Bangalore",
    "Banglore": "Bangalore",
    "Bengalore": "Bangalore",
    "BANGALORE": "Bangalore",
    "Bengaluru": "Bangalore",

    "Chennai": "Chennai",
    "CHENNAI": "Chennai",
    "chenai": "Chennai",
    "chenai": "Chennai",
    "Madras": "Chennai",

    "Kolkata": "Kolkata",
    "kolkata": "Kolkata",
    "KOLKATA": "Kolkata",
    "Calcutta": "Kolkata"
}
print("done")

done

In [29]:
amazon_india_full['Customer City'] = amazon_india_full['Customer City'].replace(city_map)

In [30]:
amazon_india_full['Customer City'].iloc[100:1000]

100      Nagpur
101      Nagpur
102       Delhi
103      Mumbai
104     Kolkata
         ...
995     Kolkata
996       Delhi
997     Lucknow
998      Kanpur
999    Ludhiana
Name: Customer City, Length: 900, dtype: object

In [32]:
amazon_india_full['Payment Method'].unique()
print("done")

done

In [33]:
payment_methods = {
    "COD" : "Cash on Delivery",
    "UPI" : "Google Pay/PhonePe/Paytm",
    "BNPL" : "Buy Now, Pay Later"
}

In [34]:
amazon_india_full['Payment Method'] = amazon_india_full['Payment Method'].replace(payment_methods)

In [35]:
amazon_india_full['Payment Method'].unique()

array(['Cash on Delivery', 'Google Pay/PhonePe/Paytm', 'Debit Card',
       'Credit Card', 'Net Banking', 'Wallet', 'Buy Now, Pay Later'],
      dtype=object)

In [36]:
if amazon_india_full.isnull().values.any():
    print(amazon_india_full.isnull().sum() [amazon_india_full.isnull().sum() > 0])
else: 
    print('no null values')

no null values

In [37]:
amazon_india_full['Customer Rating'].value_counts()

Customer Rating
4.5    380854
5.0    289128
4.0    275792
3.5    117217
3.0     64618
Name: count, dtype: int64

In [38]:
amazon_india_full['Category'].value_counts()

Category
Electronics                  1126726
Electronic                       229
ELECTRONICS                      225
Electronics & Accessories        218
Electronicss                     211
Name: count, dtype: int64

In [39]:
amazon_india_full['Delivery Days'].value_counts()

Delivery Days
 3.0     291434
 1.0     212637
 4.0     208547
 5.0     137949
 2.0     127516
 6.0     103739
 7.0      34441
-1.0       6901
 0.0       2240
 15.0      2205
Name: count, dtype: int64

In [40]:
amazon_india_full['Payment Method']

0                  Cash on Delivery
1          Google Pay/PhonePe/Paytm
2                        Debit Card
3          Google Pay/PhonePe/Paytm
4                  Cash on Delivery
                     ...
1127604                  Debit Card
1127605    Google Pay/PhonePe/Paytm
1127606                  Debit Card
1127607            Cash on Delivery
1127608    Google Pay/PhonePe/Paytm
Name: Payment Method, Length: 1127609, dtype: object

In [43]:
amazon_india_full['Customer City']

0              Kolkata
1             Ludhiana
2            Bangalore
3            Bangalore
4                Kochi
              ...
1127604         Jaipur
1127605          Delhi
1127606    Bhubaneswar
1127607         Mumbai
1127608          Surat
Name: Customer City, Length: 1127609, dtype: object

In [44]:
amazon_india_full.shape

(1127609, 34)

In [45]:
amazon_india_full.to_csv('Amazon India Complete.csv', index=False)
print('save')

save